* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
#wrap {
  width: 1200px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#header {
  width: 100%;
  height: 100px;
  background-color: aqua;
}

#nav {
  width: 100%;
  height: 100px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    "header header"
    "nav nav"
    "aside section"
    "footer footer";

  grid-template-columns: 400px 800px;
  grid-template-rows: 100px 100px 780px 100px;

#aside {
  width: 30%;
  height: 800px;
  background-color: aqua;
}

#section {
  width: 70%;
  height: 800px;
  background-color: rgb(40, 91, 168);

 
  #footer {
    width: 100%;
    height: 100px;
    background-color: rgb(40, 26, 240);
  }
}
